.swiper-slide:nth-child(1) .cardHover,
.swiper-slide:nth-child(6) .cardHover {
  border: 5px solid #ff0;
  transform: translate(-28%, -50%) scale(1);
}
.swiper-slide:nth-of-type(5) .cardHover,
.swiper-slide:nth-of-type(10) .cardHover {
  border: 5px solid #ff0;
  transform: translate(50%, -50%) scale(1);
}
